{% load static %}
<!DOCTYPE html>
<html lang="en">
<html>
<head><title>Reset Password</title>
    <link rel="icon" type="image/x-icon" href="{%  static 'images/logo.png'%}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="{% static '//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js' %}"></script>
<link href="{% static 'styles/loginuser.css' %}" rel="stylesheet" type="text/css" media="all" />

<link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">

</head>
<body>
	<!-- main -->
	<div class="main-w3layouts wrapper">

		<h1>Reset Password</h1>
		<div class="main-agileinfo">
            <a href="{% url 'main' %}"  onMouseOver="this.style.color='black'" onMouseOut="this.style.color='white'" style="font-weight: bold; font-size: 25px;margin-left:10px; color: white;">&#8617;</a>
			<div class="agileits-top">


					<h3 style="font-size: 20px;color: white">Enter your email address below, and we’ll email instructions for setting a new one.</h3>
						<br><br><form method="post">
							{% csrf_token %}
							<div class="form-group">
								{{form.email}}
							  <i class="mtrl-select"></i>
							</div>
												<input type="submit" value="Reset">

														</form>
			</div>
		</div>

	</div>
<ul class="colorlib-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
    	<script>

		var form_fields = document.getElementsByTagName('input')
		form_fields[1].placeholder='Email...';





		for (var field in form_fields){
			form_fields[field].className += ' form-control'
		}
	</script>
	<!-- //main -->
</body>
</html>