{% load static %}
<!DOCTYPE html>
<html lang="en">
<head><title>Set Password</title>
    <link rel="icon" type="image/x-icon" href="{%  static 'images/logo.png'%}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="{% static '//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js' %}"></script>
<link href="{% static 'styles/loginuser.css' %}" rel="stylesheet" type="text/css" media="all" />

<link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">

</head>
<body>
	<!-- main -->
	<div class="main-w3layouts wrapper">

		<h1>Enter new Password</h1>
		<div class="main-agileinfo">
			<div class="agileits-top">


						<form method="post">
							{% csrf_token %}
							<div class="form-group">
								{{form.new_password1}}
							  <i class="mtrl-select"></i>
							</div><br>
							<div class="form-group">
								{{form.new_password2}}
							  <i class="mtrl-select"></i>
							</div>
	                            <input type="submit" value="Submit">

						</form>

			</div>
		</div>

	</div>
<ul class="colorlib-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
    	<script>

		var form_fields = document.getElementsByTagName('input')
		form_fields[1].placeholder='New password...';

		form_fields[2].placeholder='Confirm Password...';



		for (var field in form_fields){
			form_fields[field].className += ' form-control'
		}
	</script>
	<!-- //main -->
</body>
</html>